.table-container {
  max-height: 170px; 
  overflow-y: auto;
}

.error-message {
    color: red;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
  }
  
  .profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  table {
    width: 100%;
  }
  