.table-container {
  max-height: 170px;
  overflow-y: auto;
}

.table-container .mat-header-row {
  background-color: #3f51b5;
  color: white;
}

.table-container .mat-header-cell {
  font-weight: bold;
  text-align: center;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

table {
  width: 100%;
}